<h1>Sthefanny Fernandes</h1>
<p>Tenho 15 anos, quero me formar em medicina veterinaria, sou canceriana</p>
<p>Find me in app/views/pages/info.html.erb</p>
<img src="https://awebic.com/wp-content/uploads/2014/02/animais-fofos-15.jpg" alt="Mountain View" style="width:304px;height:228px;">
